@import './base.css';

.marquee-container {
  width: 100%;
  overflow: hidden;
  border: 0px solid transparent; /* Optional: Add a border for visual separation */
}

.marquee-content {
  white-space: nowrap;
  display: inline-block;
  animation: marquee 20s linear infinite; /* Adjust the duration for slower or faster scrolling */
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
